In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('well_data.csv')
df

,DEPTH,Unnamed: 1,CALI,RHOB,TNPH,SP,SGR,LLD,LLS,MSFLC,DTLN,DRHO,PERMCORE .,PHICORE,GDCORE
0,FT,NaN,IN,G/C3,DEC,MV,GAPI,OHMM,OHMM,OHMM,US/F,G/C3,MD,FRAC,KGDM
1,7614.0,7554.0,9.55,2.408,0.304,-33.22,102.14,1.72,1.64,1.57,91.35,0.010,-999,-999,-999
2,7614.5,7554.5,9.55,2.431,0.346,-33.35,99.20,1.72,1.63,1.53,91.55,0.017,-999,-999,-999
3,7615.0,7555.0,9.55,2.463,0.368,-33.43,96.03,1.73,1.63,1.49,91.60,0.019,-999,-999,-999
4,7615.5,7555.5,9.55,2.445,0.344,-33.22,95.40,1.76,1.64,1.51,91.60,0.011,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,8735.0,8675.0,8.55,2.519,0.435,-27.07,110.46,1.56,1.62,1.30,94.20,-0.004,-999,-999,-999
2244,8735.5,8675.5,8.55,2.507,0.422,-27.13,111.28,1.53,1.57,1.28,93.90,-0.005,-999,-999,-999
2245,8736.0,8676.0,8.55,2.501,0.419,-27.25,110.29,1.48,1.54,1.28,94.00,0.004,-999,-999,-999
2246,8736.5,8676.5,8.55,2.500,0.414,-27.31,110.08,1.45,1.50,1.25,94.35,0.010,-999,-999,-999
2247,8737.0,8677.0,8.55,2.506,0.407,-27.31,114.16,1.47,1.47,1.19,93.90,0.009,-999,-999,-999

In [3]:
df.columns

Index(['DEPTH', 'Unnamed: 1', 'CALI', 'RHOB', 'TNPH', 'SP', 'SGR', 'LLD',
       'LLS', 'MSFLC', 'DTLN', 'DRHO', 'PERMCORE  .', 'PHICORE ', 'GDCORE'],
      dtype='object')

In [4]:
df.drop('Unnamed: 1', axis=1, inplace=True)
df

,DEPTH,CALI,RHOB,TNPH,SP,SGR,LLD,LLS,MSFLC,DTLN,DRHO,PERMCORE .,PHICORE,GDCORE
0,FT,IN,G/C3,DEC,MV,GAPI,OHMM,OHMM,OHMM,US/F,G/C3,MD,FRAC,KGDM
1,7614.0,9.55,2.408,0.304,-33.22,102.14,1.72,1.64,1.57,91.35,0.010,-999,-999,-999
2,7614.5,9.55,2.431,0.346,-33.35,99.20,1.72,1.63,1.53,91.55,0.017,-999,-999,-999
3,7615.0,9.55,2.463,0.368,-33.43,96.03,1.73,1.63,1.49,91.60,0.019,-999,-999,-999
4,7615.5,9.55,2.445,0.344,-33.22,95.40,1.76,1.64,1.51,91.60,0.011,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,8735.0,8.55,2.519,0.435,-27.07,110.46,1.56,1.62,1.30,94.20,-0.004,-999,-999,-999
2244,8735.5,8.55,2.507,0.422,-27.13,111.28,1.53,1.57,1.28,93.90,-0.005,-999,-999,-999
2245,8736.0,8.55,2.501,0.419,-27.25,110.29,1.48,1.54,1.28,94.00,0.004,-999,-999,-999
2246,8736.5,8.55,2.500,0.414,-27.31,110.08,1.45,1.50,1.25,94.35,0.010,-999,-999,-999
2247,8737.0,8.55,2.506,0.407,-27.31,114.16,1.47,1.47,1.19,93.90,0.009,-999,-999,-999

for now we can ignore the units, since we know the values and meanings

In [5]:
df.drop(0, axis=0, inplace=True)
df

,DEPTH,CALI,RHOB,TNPH,SP,SGR,LLD,LLS,MSFLC,DTLN,DRHO,PERMCORE .,PHICORE,GDCORE
1,7614.0,9.55,2.408,0.304,-33.22,102.14,1.72,1.64,1.57,91.35,0.010,-999,-999,-999
2,7614.5,9.55,2.431,0.346,-33.35,99.20,1.72,1.63,1.53,91.55,0.017,-999,-999,-999
3,7615.0,9.55,2.463,0.368,-33.43,96.03,1.73,1.63,1.49,91.60,0.019,-999,-999,-999
4,7615.5,9.55,2.445,0.344,-33.22,95.40,1.76,1.64,1.51,91.60,0.011,-999,-999,-999
5,7616.0,9.55,2.417,0.297,-33.14,96.17,1.77,1.65,1.61,91.70,0.012,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,8735.0,8.55,2.519,0.435,-27.07,110.46,1.56,1.62,1.30,94.20,-0.004,-999,-999,-999
2244,8735.5,8.55,2.507,0.422,-27.13,111.28,1.53,1.57,1.28,93.90,-0.005,-999,-999,-999
2245,8736.0,8.55,2.501,0.419,-27.25,110.29,1.48,1.54,1.28,94.00,0.004,-999,-999,-999
2246,8736.5,8.55,2.500,0.414,-27.31,110.08,1.45,1.50,1.25,94.35,0.010,-999,-999,-999
2247,8737.0,8.55,2.506,0.407,-27.31,114.16,1.47,1.47,1.19,93.90,0.009,-999,-999,-999

First we need to check the data, empty columns and so on

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2247 entries, 1 to 2247
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DEPTH        2247 non-null   object
 1   CALI         2247 non-null   object
 2   RHOB         2247 non-null   object
 3   TNPH         2247 non-null   object
 4   SP           2247 non-null   object
 5   SGR          2247 non-null   object
 6   LLD          2247 non-null   object
 7   LLS          2247 non-null   object
 8   MSFLC        2247 non-null   object
 9   DTLN         2247 non-null   object
 10  DRHO         2247 non-null   object
 11  PERMCORE  .  2247 non-null   object
 12  PHICORE      2247 non-null   object
 13  GDCORE       2247 non-null   object
dtypes: object(14)
memory usage: 263.3+ KB

as we see values are shown as object while they should be float numbers. Let's change their format

In [7]:
df = df.astype(float)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2247 entries, 1 to 2247
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DEPTH        2247 non-null   float64
 1   CALI         2247 non-null   float64
 2   RHOB         2247 non-null   float64
 3   TNPH         2247 non-null   float64
 4   SP           2247 non-null   float64
 5   SGR          2247 non-null   float64
 6   LLD          2247 non-null   float64
 7   LLS          2247 non-null   float64
 8   MSFLC        2247 non-null   float64
 9   DTLN         2247 non-null   float64
 10  DRHO         2247 non-null   float64
 11  PERMCORE  .  2247 non-null   float64
 12  PHICORE      2247 non-null   float64
 13  GDCORE       2247 non-null   float64
dtypes: float64(14)
memory usage: 263.3 KB

In [9]:
df.isna().sum()

DEPTH          0
CALI           0
RHOB           0
TNPH           0
SP             0
SGR            0
LLD            0
LLS            0
MSFLC          0
DTLN           0
DRHO           0
PERMCORE  .    0
PHICORE        0
GDCORE         0
dtype: int64

we can see that all the data is full, and there is no empty row, so we can continue working with their values.

# Gamma Ray

to find the Vsh value, we need to know the max, min and current gamma ray value. let's check max and minimum values first

In [10]:
print(f'max gamma ray value is {df["SGR"].max()}')
print(f'min gamma ray value is {df["SGR"].min()}')

max gamma ray value is 139.69
min gamma ray value is 13.88

![](Vsh.png)

In [11]:
df['Vsh'] = (df['SGR']-df['SGR'].min())/(df['SGR'].max() - df['SGR'].min())
df

,DEPTH,CALI,RHOB,TNPH,SP,SGR,LLD,LLS,MSFLC,DTLN,DRHO,PERMCORE .,PHICORE,GDCORE,Vsh
1,7614.0,9.55,2.408,0.304,-33.22,102.14,1.72,1.64,1.57,91.35,0.010,-999.0,-999.0,-999.0,0.701534
2,7614.5,9.55,2.431,0.346,-33.35,99.20,1.72,1.63,1.53,91.55,0.017,-999.0,-999.0,-999.0,0.678165
3,7615.0,9.55,2.463,0.368,-33.43,96.03,1.73,1.63,1.49,91.60,0.019,-999.0,-999.0,-999.0,0.652969
4,7615.5,9.55,2.445,0.344,-33.22,95.40,1.76,1.64,1.51,91.60,0.011,-999.0,-999.0,-999.0,0.647961
5,7616.0,9.55,2.417,0.297,-33.14,96.17,1.77,1.65,1.61,91.70,0.012,-999.0,-999.0,-999.0,0.654082
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,8735.0,8.55,2.519,0.435,-27.07,110.46,1.56,1.62,1.30,94.20,-0.004,-999.0,-999.0,-999.0,0.767666
2244,8735.5,8.55,2.507,0.422,-27.13,111.28,1.53,1.57,1.28,93.90,-0.005,-999.0,-999.0,-999.0,0.774183
2245,8736.0,8.55,2.501,0.419,-27.25,110.29,1.48,1.54,1.28,94.00,0.004,-999.0,-999.0,-999.0,0.766314
2246,8736.5,8.55,2.500,0.414,-27.31,110.08,1.45,1.50,1.25,94.35,0.010,-999.0,-999.0,-999.0,0.764645
2247,8737.0,8.55,2.506,0.407,-27.31,114.16,1.47,1.47,1.19,93.90,0.009,-999.0,-999.0,-999.0,0.797075

However, not all kinds of rocks are the same and especially for gamma ray shale log, there needs to be correction depending on the age of the rock. in the question, it is stated that it is tertiar shale otherwise known as Laorinov correlated shale. Formula for this is given as:

![](laorinov.png)

In [12]:
df['Vsh_Larionov'] = 0.083 * (2**(3.7*df['Vsh'])-1)
df

,DEPTH,CALI,RHOB,TNPH,SP,SGR,LLD,LLS,MSFLC,DTLN,DRHO,PERMCORE .,PHICORE,GDCORE,Vsh,Vsh_Larionov
1,7614.0,9.55,2.408,0.304,-33.22,102.14,1.72,1.64,1.57,91.35,0.010,-999.0,-999.0,-999.0,0.701534,0.418712
2,7614.5,9.55,2.431,0.346,-33.35,99.20,1.72,1.63,1.53,91.55,0.017,-999.0,-999.0,-999.0,0.678165,0.389527
3,7615.0,9.55,2.463,0.368,-33.43,96.03,1.73,1.63,1.49,91.60,0.019,-999.0,-999.0,-999.0,0.652969,0.359957
4,7615.5,9.55,2.445,0.344,-33.22,95.40,1.76,1.64,1.51,91.60,0.011,-999.0,-999.0,-999.0,0.647961,0.354305
5,7616.0,9.55,2.417,0.297,-33.14,96.17,1.77,1.65,1.61,91.70,0.012,-999.0,-999.0,-999.0,0.654082,0.361223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,8735.0,8.55,2.519,0.435,-27.07,110.46,1.56,1.62,1.30,94.20,-0.004,-999.0,-999.0,-999.0,0.767666,0.511446
2244,8735.5,8.55,2.507,0.422,-27.13,111.28,1.53,1.57,1.28,93.90,-0.005,-999.0,-999.0,-999.0,0.774183,0.521466
2245,8736.0,8.55,2.501,0.419,-27.25,110.29,1.48,1.54,1.28,94.00,0.004,-999.0,-999.0,-999.0,0.766314,0.509390
2246,8736.5,8.55,2.500,0.414,-27.31,110.08,1.45,1.50,1.25,94.35,0.010,-999.0,-999.0,-999.0,0.764645,0.506859
2247,8737.0,8.55,2.506,0.407,-27.31,114.16,1.47,1.47,1.19,93.90,0.009,-999.0,-999.0,-999.0,0.797075,0.558016

Now that we have Vsh Larionov values we can determine if rock is mostly shale or sandstone/limestone, thus if Vsh is bigger than 0.5 I will consider it shale, but otherwise sandstone/limestone

In [13]:
df['Lithology'] = 0
for i in range(1,len(df)+1):
    if df['Vsh'][i] > 0.5:
        df['Lithology'][i] = 'Shale'
        # print('shale')
    elif df['Vsh'][i] < 0.5:
        df['Lithology'][i] = 'Sandstone'
        # print('sandstone')

df

C:\Users\elnur\AppData\Local\Temp/ipykernel_7688/2077780113.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Lithology'][i] = 'Shale'
C:\Users\elnur\anaconda3\envs\oilngas\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,DEPTH,CALI,RHOB,TNPH,SP,SGR,LLD,LLS,MSFLC,DTLN,DRHO,PERMCORE .,PHICORE,GDCORE,Vsh,Vsh_Larionov,Lithology
1,7614.0,9.55,2.408,0.304,-33.22,102.14,1.72,1.64,1.57,91.35,0.010,-999.0,-999.0,-999.0,0.701534,0.418712,Shale
2,7614.5,9.55,2.431,0.346,-33.35,99.20,1.72,1.63,1.53,91.55,0.017,-999.0,-999.0,-999.0,0.678165,0.389527,Shale
3,7615.0,9.55,2.463,0.368,-33.43,96.03,1.73,1.63,1.49,91.60,0.019,-999.0,-999.0,-999.0,0.652969,0.359957,Shale
4,7615.5,9.55,2.445,0.344,-33.22,95.40,1.76,1.64,1.51,91.60,0.011,-999.0,-999.0,-999.0,0.647961,0.354305,Shale
5,7616.0,9.55,2.417,0.297,-33.14,96.17,1.77,1.65,1.61,91.70,0.012,-999.0,-999.0,-999.0,0.654082,0.361223,Shale
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2243,8735.0,8.55,2.519,0.435,-27.07,110.46,1.56,1.62,1.30,94.20,-0.004,-999.0,-999.0,-999.0,0.767666,0.511446,Shale
2244,8735.5,8.55,2.507,0.422,-27.13,111.28,1.53,1.57,1.28,93.90,-0.005,-999.0,-999.0,-999.0,0.774183,0.521466,Shale
2245,8736.0,8.55,2.501,0.419,-27.25,110.29,1.48,1.54,1.28,94.00,0.004,-999.0,-999.0,-999.0,0.766314,0.509390,Shale
2246,8736.5,8.55,2.500,0.414,-27.31,110.08,1.45,1.50,1.25,94.35,0.010,-999.0,-999.0,-999.0,0.764645,0.506859,Shale
2247,8737.0,8.55,2.506,0.407,-27.31,114.16,1.47,1.47,1.19,93.90,0.009,-999.0,-999.0,-999.0,0.797075,0.558016,Shale

# Density log

Now we are going to utilise the density log values, and using it we will find porosity.
Before starting, we need to know the matrix density and fluid density. For matrix density , d(shale) = 2.747 g/cc , d(sandstone) = 2.650 g/cc and d(brine) = 1.1 g/cc, d(gaseffect) = 0.7 g/cc

In [14]:
densities = pd.DataFrame({'Fluid': ['Shale','Sandstone'], 'Density':['2.747','2.650']})
densities

       Fluid Density
0      Shale   2.747
1  Sandstone   2.650

In [15]:
densities['Density'] = densities['Density'].astype(float)

In [16]:
densities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Fluid    2 non-null      object
 1   Density  2 non-null      float64
dtypes: float64(1), object(1)
memory usage: 160.0+ bytes

In [17]:
df = df.join(densities, on='Lithology')
df

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat